<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexgas.chupitosok" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Listafavs"
            android:label="@string/title_activity_listafavs"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ListaTodos"
            android:label="@string/title_activity_lista_todos"
            android:windowSoftInputMode="stateHidden">

    </activity>
        <activity
            android:name=".IncluirChupito"
            android:label="@string/title_activity_incluir_chupito" >
        </activity>
    </application>

</manifest>
